# === Python cache & artifacts ===
__pycache__/
*.py[cod]
*.so

# === Virtual environments ===
.venv/

# === Environment & secrets ===
.env
.env.*

# === Config files (if not needed in version control) ===
configs/
!configs/config.py
!configs/__init__.py

# Optional: ignore specific data configs like this
configs/nasdaq_screener.csv
configs/alpha_vantage_column_description_hun.json
configs/alpha_vantage_column_description.json

# === Raw and intermediate data ===
logs/management/debug_data/
dev_data
dev_data/jsons
dev_data/csv

# === Logs & debugging ===
*.db
*.sqlite3

# === IDE & editor settings ===
.vscode/

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === Test/cache artifacts ===
.coverage
htmlcov/
.tox/
.pytest_cache/
